@import "../../mq-config";    
@import "../../mq";             // TODO: npm or direct? https://github.com/sass-mq/sass-mq
@import "../../mq-helper";      

@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    padding: 0; // Q: what does this do?
}

// .mod-ttt-title, to avoid collision with .title-banner.mod-tt in ttt modal
.title-banner.mod-ttt-title {
    background-color: $ui-blue;
}


///////////////////////

.ttt-section {
    // display: flex;
    // flex-wrap: wrap;
    // Instead of flex-ifying this container manually, we use Lost's PostCSS helper:
    lost-flex-container: row;

    // No need to center manually, we'll use the grid columns in the centered element
    // + offset to position horizontally
    // margin: 0 auto;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
}

.ttt-banner-image {

    // Instead of us calcing the width and centering it
    // declare width in terms of grid columns. Comment this:
    // max-width: calc(100% - 2rem); 

    // Replace it with:
    lost-column: 6/12; 

    // Now let's position this element left/right according to these colums
    lost-offset: -3/12; // Denominator needs to be the same as lost-column declare above it, or the calcs get messed up
   
   // side note: the negative syntax is unlike most other grid systems, they are working on it: https://github.com/peterramsing/lost#lost-offset
}



/* 
//4 columns
@media only screen and (max-width: $mobile - 1) {

    .title-banner {
        &.masthead {
            padding-bottom: 1.25rem;

            p {
                max-width: $cols4;
            }
        }
    }

    .ttt-section.mod-title-banner {
        max-width: $mobile;
    }
}

//6 columns
@media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    .title-banner {
        &.masthead {

            p {
                max-width: $cols6;
            }
        }
    }

    .ttt-section.mod-title-banner {
        max-width: $mobile;
    }
}


//8 columns
@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    .title-banner {
        &.masthead {
            padding-bottom: 2rem;

            p {
                max-width: $cols8;
            }
        }
    }

    .ttt-section.mod-title-banner {
        max-width: $tablet;
    }
}

// 12 columns
@media only screen and (min-width: $desktop) {
    .title-banner {
        &.masthead {
            padding-bottom: 1.25rem;

            p {
                max-width: $cols8;
            }
        }
    }
} */