@import "../../breakpoints";    
@import "../../mq";             // TODO: npm or direct? https://github.com/sass-mq/sass-mq
@import "../../mq-helper";      // 

@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;

#view {
    padding: 0;
}

// .mod-ttt-title, to avoid collision with .title-banner.mod-tt in ttt modal
.title-banner.mod-ttt-title {
    background-color: $ui-blue;
}

.ttt-section {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.ttt-banner-image {
    max-width: calc(100% - 2rem);
}

.parent {
    lost-flex-container: row;
}

.child {
    background: purple !important;
    lost-column: 1/1;
}

