// @import "mq";    

// SASS helper: https://github.com/sass-mq/sass-mq
// Parity with current breakpoints defined in _frameless.scss
// v1
$mq-breakpoints: (
    mobile:   480px,
    tablet:   640px,
    desktop:  942px
);

