// SASS helper: https://github.com/sass-mq/sass-mq
// Parity with current breakpoints defined in _frameless.scss
// v1
$mq-breakpoints: (
    mobile:   480px,
    tablet:   640px,
    desktop:  942px
);


/////////////////////////////////////////////////////////////////////////////
// A Sass mixin that helps you compose media queries in an elegant way
// https://github.com/sass-mq/sass-mq

// Pick breakpoints out of the subset defined in _mq.scss
// For every breakpoint listed here, display a helper in the viewport to help debugging
// List needs to be ordered by width: (narrow, medium, widest)

// TODO: why does this need to be declared before mq is included? related to if statement at bottom of mixin?
$mq-show-breakpoints: (mobile, tablet, desktop);


    
/////////////////////////////////////////////////////////////////////////////
// Global config for Lost Grid vars: github.com/corysimmons/lost 

// TODO: set root to 16px somewhere
@lost flexbox flex;     // use flexbox instead of floats
@lost gutter 1em;       // splits value, so 0.5rem on each side of a column

/* For debugging, showing grid */
// TODO: this probably needs to go somewhere outside of this component
// https://github.com/peterramsing/lost/issues/349 
/* body { 
  lost-utility: edit;
} */
