/////////////////////////////////////////////////////////////////////////////
// A Sass mixin that helps you compose media queries in an elegant way
// https://github.com/sass-mq/sass-mq

// By default, mixin auto-places this helper in top-right corner of viewport, which 
// is a terrible place bc it's blocked/hidden by built in Chrome notification showing viewport size.
// We move it to the bottom of the viewport, and also make sure it's the highest in the z-stack
// so it doesnt conflict with any content
body:before {
   	z-index: 2147483647; // highest value for z-index possible via CSS 2.1 pec
   	bottom: 0 !important;
   	top: initial;
	font-size: 0.80rem;
	padding: 0.3rem 1rem;
  	border: 0;
  	color: black;

    // use color to futher differentiate
    @include mq(mobile)  { background-color: rgba(0, 0, 0, 0.75);  &:after { content: 'Mobile: o'; } } 
    @include mq(tablet)  { background-color: rgba(30, 30, 30, 0.75);  &:after { content: 'Tablet: o o'; } } 
    @include mq(desktop) { background-color: rgba(240, 40, 0, 0.75);  &:after { content: 'Desktop: o o o'; } } 

    // Alt way of declaring mq behavior, ie, mobile first
    // @include mq($from: mobile)   { color: red; } 
    // @include mq($from: tablet)   { color: blue; }
    // @include mq($from: desktop)  { color: hotpink; } 
}



/////////////////////////////////////////////////////////////////////////////


// Show an overlay of the grid columns. Helpful for debugging. Currently janky, doesnt display last column
// TODO: build this out, https://github.com/peterramsing/lost/issues/127
/* .grid-helper {
  display: none;
  position: absolute;
  top: 0; 
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-size: 80px 24px;
  background-image:
    linear, left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px,
    linear, top, transparent 23px, rgba(255, 0, 0, 0.5) 24px;
}
 */

///////////////////////////////////////

