 // TODO: build out
.grid-helper {
  display: none;
  position: absolute;
  top: 0; 
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-size: 80px 24px;
  background-image:
    linear, left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px,
    linear, top, transparent 23px, rgba(255, 0, 0, 0.5) 24px;
}

